@use "./spacing";
@use "./colors";

// TODO: only import used font-variants
@import url("https://fonts.googleapis.com/css2?family=Karla:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,400;1,700;1,800&display=swap");

body {
  font-family: "Karla", sans-serif;
  box-sizing: border-box;
  margin: 0;
}

* {
  font-family: inherit;
  box-sizing: inherit;
}

h1,
h2,
h3,
h4,
h5,
h6,
li,
ol,
ul,
p,
a {
  color: colors.$black;
  margin: 0;
}

.content-page,
.modal {
  .title {
    @include spacing.content-block-margin(margin-bottom);
  }

  .content {
    @include spacing.content-block-item-margin(margin-bottom);

    &:last-child {
      margin-bottom: 0;
    }
  }
}
